*.out
*~
#*#
*.swp
*.a
*.o
vgcore*
*.gcno
*.gcda
gcovr*
.vscode
.cache
.clangd
compile_commands.json
.gdb*
build*
.DS_Store
html/
test
*.log
test.c
a.out
README
tester.sh
tester.tgz
tests
*.ppm
output
mysh
my_segfault
my_divzero
42sh
